In [1]:
import dataclient
import pandas as pd
import configparser

import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np
style.use("seaborn-notebook")
%matplotlib inline
import pprint

from Wrapper import *

In [2]:
#m = dataclient.MDALClient("corbusier.cs.berkeley.edu:8088")
mdal_obj = Import_MDAL()

site = "ciee"
start = '2018-07-01T00:00:00Z'
end = '2018-10-22T00:00:00Z'

site_event_mapping = {
    'avenal-public-works-yard': '2017-12-04',
    'avenal-movie-theatre': '2017-11-14',
    'avenal-recreation-center': '2017-11-21',
    'avenal-animal-shelter': '2017-11-21',
    'avenal-veterans-hall': '2017-12-07',
    'south-berkeley-senior-center': '2017-12-14',
    'north-berkeley-senior-center': '2017-08-24',
    'hayward-station-1': '2017-12-19',
    'hayward-station-8': '2017-12-19',
    'orinda-community-center': '2017-11-02',
    'ciee': '2017-06-07',
    'berkeley-corporate-yard': '2017-10-11'
}

In [3]:
obj2 =  mdal_obj.get_meter(site=site, start=start, end=end, var='meter', agg='MEAN', window='15min', aligned=True, return_names=True)
obj2.df.head()

                           Green_Button_Meter1
2018-06-30 17:00:00-07:00                560.0
2018-06-30 17:15:00-07:00                520.0
2018-06-30 17:30:00-07:00                560.0
2018-06-30 17:45:00-07:00                520.0
2018-06-30 18:00:00-07:00                520.0
2018-06-30 18:15:00-07:00                680.0
2018-06-30 18:30:00-07:00                760.0
2018-06-30 18:45:00-07:00                800.0
2018-06-30 19:00:00-07:00                800.0
2018-06-30 19:15:00-07:00                760.0
2018-06-30 19:30:00-07:00                800.0
2018-06-30 19:45:00-07:00                720.0
2018-06-30 20:00:00-07:00                680.0
2018-06-30 20:15:00-07:00                680.0
2018-06-30 20:30:00-07:00                560.0
2018-06-30 20:45:00-07:00                520.0
2018-06-30 21:00:00-07:00                560.0
2018-06-30 21:15:00-07:00                520.0
2018-06-30 21:30:00-07:00                600.0
2018-06-30 21:45:00-07:00                520.0
2018-06-30 22:00:00-07:00                560.0
2018-06-30 22:15:00-07:00                520.0
2018-06-30 22:30:00-07:00                560.0
2018-06-30 22:45:00-07:00                560.0
2018-06-30 23:00:00-07:00                520.0
2018-06-30 23:15:00-07:00                560.0
2018-06-30 23:30:00-07:00                560.0
2018-06-30 23:45:00-07:00                520.0
2018-07-01 00:00:00-07:00                560.0
2018-07-01 00:15:00-07:00                520.0
...                                        ...
2018-10-21 09:30:00-07:00                  NaN
2018-10-21 09:45:00-07:00                  NaN
2018-10-21 10:00:00-07:00                  NaN
2018-10-21 10:15:00-07:00                  NaN
2018-10-21 10:30:00-07:00                  NaN
2018-10-21 10:45:00-07:00                  NaN
2018-10-21 11:00:00-07:00                  NaN
2018-10-21 11:15:00-07:00                  NaN
2018-10-21 11:30:00-07:00                  NaN
2018-10-21 11:45:00-07:00                  NaN
2018-10-21 12:00:00-07:00                  NaN
2018-10-21 12:15:00-07:00                  NaN
2018-10-21 12:30:00-07:00                  NaN
2018-10-21 12:45:00-07:00                  NaN
2018-10-21 13:00:00-07:00                  NaN
2018-10-21 13:15:00-07:00                  NaN
2018-10-21 13:30:00-07:00                  NaN
2018-10-21 13:45:00-07:00                  NaN
2018-10-21 14:00:00-07:00                  NaN
2018-10-21 14:15:00-07:00                  NaN
2018-10-21 14:30:00-07:00                  NaN
2018-10-21 14:45:00-07:00                  NaN
2018-10-21 15:00:00-07:00                  NaN
2018-10-21 15:15:00-07:00                  NaN
2018-10-21 15:30:00-07:00                  NaN
2018-10-21 15:45:00-07:00                  NaN
2018-10-21 16:00:00-07:00                  NaN
2018-10-21 16:15:00-07:00                  NaN
2018-10-21 16:30:00-07:00                  NaN
2018-10-21 16:45:00-07:00                  NaN

[10848 rows x 1 columns]

In [4]:
obj3 = mdal_obj.get_weather(site=site, start=start, end=end, var='weather', agg='MEAN', window='15min', aligned=True, return_names=True)
obj3.df.head()

,Weather_Temperature_Sensor1,Weather_Temperature_Sensor2
2018-06-30 17:00:00-07:00,64.04,55.2596
2018-06-30 17:15:00-07:00,NaN,NaN
2018-06-30 17:30:00-07:00,NaN,NaN
2018-06-30 17:45:00-07:00,NaN,NaN
2018-06-30 18:00:00-07:00,NaN,NaN

Check that there is no mistake of replacing a Nan value with 32 deg F

In [ ]:
obj3.df[obj3.df['Weather_Temperature_Sensor1']<40]
#if the df is empty or the low temperatures areoccuring at a reasonable TOD then we can assume the data is correct

In [ ]:
obj3.df[obj3.df['Weather_Temperature_Sensor2']<40]

In [5]:
obj4 = mdal_obj.get_tstat(site=site, start=start, end=end, var='tstat_temp', agg='MEAN', window='15min', aligned=True, return_names=True)
obj4.df.head()
# alternative points to test "tstat_temp", "tstat_hsp", "tstat_csp" , "tstat_state"

,HVAC_Zone_Northzone_tstat_temperature,HVAC_Zone_Southzone_tstat_temperature,HVAC_Zone_Eastzone_tstat_temperature,HVAC_Zone_Centralzone_tstat_temperature
2018-06-30 17:00:00-07:00,77.0,75.000000,73.698160,77.000000
2018-06-30 17:15:00-07:00,77.0,75.000000,73.801235,77.000000
2018-06-30 17:30:00-07:00,77.0,75.000000,73.920276,77.121495
2018-06-30 17:45:00-07:00,77.0,75.000000,73.918293,77.837500
2018-06-30 18:00:00-07:00,77.0,74.790123,74.000000,78.000000

In [6]:
obj5 = mdal_obj.get_tstat(site=site, start=start, end=end, var=['tstat_hsp',"tstat_state"], agg=['MEAN','MEAN'], window='24h', aligned=True, return_names=True)
obj5.df.head()

,HVAC_Zone_Southzone_tstat_heating_setpoint,HVAC_Zone_Northzone_tstat_heating_setpoint,HVAC_Zone_Eastzone_tstat_heating_setpoint,HVAC_Zone_Centralzone_tstat_heating_setpoint,HVAC_Zone_Southzone_tstat_state,Thermostat_Status4,HVAC_Zone_Northzone_tstat_state,HVAC_Zone_Centralzone_tstat_state
2018-06-30 17:00:00-07:00,62.000000,64.619949,62.0,64.622092,0.0,0.0,0.0,0.0
2018-07-01 17:00:00-07:00,67.892031,67.894147,62.0,67.893851,0.0,0.0,0.0,0.0
2018-07-02 17:00:00-07:00,67.892277,67.892719,62.0,67.891487,0.0,0.0,0.0,0.0
2018-07-03 17:00:00-07:00,68.968043,68.970077,62.0,68.967591,0.0,0.0,0.0,0.0
2018-07-04 17:00:00-07:00,68.033629,68.036185,62.0,68.034334,0.0,0.0,0.0,0.0

## Data Analysis Table

In [7]:
def analyze_quality_table(obj):  #need to make it specific for varying meters and label it for each type -->either separate functions or make the function broader
    data=obj.df
    current_row=0
    N_rows=3
    N_cols=data.shape[1]
    d = pd.DataFrame(np.zeros((N_rows, N_cols)), index=['% Missing', 'AVG Length Missing', 'Std dev. Missing'], columns=[data.columns])
    #d.columns.name='Meters'
    
    for i in range(N_cols):
        data_per_meter=data.iloc[:,[i]]   #need to make this work or change the structure
        
        data_missing=data_per_meter.isnull()*1 
        #print data_missing.head()
        percentage=data_missing.sum()/(data.shape[0])*100
        meter=str(data_missing.columns[0])


        d.loc["% Missing",meter]=int(percentage)
         #str(data_gaps.columns[0])
 
        #data_missing.plot(figsize=(18,5), x_compat=True, title=meter+" Missing Data over the Time interval")
        data_gaps=data_missing[(data_missing.diff()==1) | (data_missing.diff()==-1)].dropna() 
       
        data_gaps["Length Missing"]=abs(data_gaps.index.to_series().diff(periods=-1))
#         if data_gaps[data_gaps[meter]==1].shape[0] ==1: fix code for edge case
#             missing_mean=data_missing.sum()*15
#         else:
        missing_mean=(data_gaps[data_gaps[meter]==1]).mean()[1]
        std_dev=(data_gaps[data_gaps[meter]==1]).std()[1]
        d.loc["AVG Length Missing",meter]=missing_mean
        d.loc["Std dev. Missing",meter]=std_dev
     
    return d

In [8]:
analyze_quality_table(obj2)#objj or obj2

                       Green_Button_Meter1
% Missing                                7
AVG Length Missing         2 days 00:07:30
Std dev. Missing    3 days 08:41:49.535127

In [9]:
analyze_quality_table(obj3)

                   Weather_Temperature_Sensor1 Weather_Temperature_Sensor2
% Missing                                    3                          14
AVG Length Missing             0 days 01:37:30      0 days 00:27:51.741778
Std dev. Missing        0 days 03:34:32.889059      0 days 01:04:58.042724

In [10]:
analyze_quality_table(obj4)

,HVAC_Zone_Northzone_tstat_temperature,HVAC_Zone_Southzone_tstat_temperature,HVAC_Zone_Eastzone_tstat_temperature,HVAC_Zone_Centralzone_tstat_temperature
% Missing,3,3,3,3
AVG Length Missing,0 days 10:40:00,0 days 10:41:40,0 days 06:36:00,0 days 11:51:40
Std dev. Missing,0 days 15:42:04.729101,0 days 15:41:53.582438,0 days 10:18:08.924030,0 days 15:57:55.255545

# Data Quality Analysis

In [ ]:
#want to chek amount of missing data(percentage)
#length of time it is missing 
#TOD during which it is missing
def analyze_quality(obj):  #need to make it specific for varying meters and label it for each type -->either separate functions or make the function broader
    data=obj.df

    for i in range(data.shape[1]):
        data_per_meter=data.iloc[:,[i]]   #need to make this work or change the structure
        
        data_missing=data_per_meter.isnull()*1 
        percentage=data_missing.sum()/(data.shape[0])*100
        meter=str(data_missing.columns[0])

        print ('Percentage Missing of '+meter+' data: ' + str(int(percentage))+'%')
        data_missing.plot(figsize=(18,5), x_compat=True, title=meter+" Missing Data over the Time interval")

        data_gaps=data_missing[(data_missing.diff()==1) | (data_missing.diff()==-1)].dropna() 
        #data_gaps=data_missing[data_missing.diff()!=0].dropna()
        #at 1 it goes from missing data to having data --> when one is showed it means beginning of missing data period
        #at -1 it goes from data to missing data --> when 0 is showed it means  beginning of data period
        data_gaps["Length Missing"]=abs(data_gaps.index.to_series().diff(periods=-1))
        #data_gaps[data_gaps['Green_Button_Meter1']==1]  #When the value is 1 it shows the length of missing data

        data_missing['Hour']=data_missing.index.hour
        ymax=int(data_missing.groupby('Hour').sum().max()+10)
        data_missing.groupby('Hour').sum().plot(ylim=(0,ymax),figsize=(18,5), title=meter+" Time of Day of Missing Data") 

        
    
        #print (data_gaps[data_gaps[meter]==1]).std() #str(data_gaps.columns[0])
        print (data_gaps[data_gaps[meter]==1]).describe()
        print data_gaps[data_gaps[meter]==1]  
    return     

def per_meter(obj):
    data=obj.df
    for i in range(data.shape[1]):
        print analyze_quality(data.iloc[:,[i]]) #we need to get both columns in the table

## Green Button Meter Data Quality

In [ ]:
analyze_quality(obj2)

## Weather Meter Data Quality Analysis

In [ ]:
#analyze_quality(obj3.df.iloc[:,[0]])
analyze_quality(obj3)

In [ ]:
analyze_quality(obj4)

# Plotly Graphs

In [ ]:
import ipywidgets as widgets
import plotly as py
import plotly.graph_objs as go
import numpy as np
from scipy import special


py.offline.init_notebook_mode(connected=True)

In [ ]:
str(obj2.df.columns[0])

In [ ]:
x=objj.df.index
layout=go.Layout(
    title=site,
    yaxis=dict(
    title='Average Power [kW]'
    ),
    yaxis2=dict(
    title='Weather [Degrees F]',
    overlaying='y',
    side='right'   
    ),
    xaxis=dict(
    title='Datetime'
    )
)
trace1=go.Scatter(
x=x,
    y=obj2.df.iloc[:,0],
    mode='lines',   # could put "markers' or 'lines+markers'
    name=str(obj2.df.columns[0]),
    line=dict(
       shape='spline'
    )
)

trace2=go.Scatter(
x=x,
    y=obj3.df.iloc[:,0],
    mode='lines',   # could put "markers' or 'lines+markers'
    name=str(obj3.df.columns[0]),
    yaxis='y2',
    line=dict(
       shape='spline'
    )
)

trace3=go.Scatter(
x=x,
    y=obj3.df.iloc[:,1],
    mode='lines',   # could put "markers' or 'lines+markers'
    name=str(obj3.df.columns[1]),
    yaxis='y2',
    line=dict(
       shape='spline'
    )
)

fig=go.Figure(data=[trace1, trace3, trace2], layout=layout)
py.offline.iplot(fig)

In [ ]:
obj3.df.head()

In [ ]:
obj2.df.head()